  <div class="small-container-white-100vh">
    <h2 class="text-center">My lists</h2>
    <div class="cards-lists">
      <% @lists.each do |list| %>
        <% backdrop = list.movies.first.backdrop_url%>
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="card-list"
              style="background-image:
                linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url(<%= backdrop %>)">
            <h3><%= list.name %></h3>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
