<div class="banner">
  <div class="container">
    <h1 class="text-center">Save any kind of movies</h1>
    <br>
  </div>
</div>


<% @lists.each do |list| %>
  <%= link_to "#{list.name}", list_path(list), class: "text-decoration-none" %>
<% end %>
