<div class="banner">
  <div class="container">
    <h1 class="text-center">Save any kind of movies</h1>
    <br>
  </div>
</div>


<% @lists.each do |list| %>
  <%= link_to list_path(list), class: "text-decoration-none" do %>
    <div class="card-list"
        style="background-image:
          linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(<% list.image_url %>)">
      <%= list.name %>
    </div>
  <% end %>
<% end %>
