// Define variables for your color scheme

// For example:
$red: #FD1015;
$dark-red: #a00305;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$black: #000000;
$gray: #353535;
$dark-gray: #1c1c1c;
$light-gray: #F4F4F4;
$white: #FFFFFF;
