<div class="cards-movies" data-load-actors-target="actors" data-refresh-list-target="list">
  <% actors.each do |actor| %>
    <div data-load-actors-target="actor">
      <%= link_to actor_path(actor), class: "text-decoration-none" do %>
        <div class="actor">
          <div class="card-movie">
            <%= image_tag actor.picture_url, class: "img-actor", alt: "" %>
          </div>
          <h5 class="py-3"><%= actor.name %></h5>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
