<div class="actor-background">
     <div class="actor-details">
      <img src="<%= @actor.picture_url %>" alt="" class="poster">
      <div class="actor-infos">
        <h2><%= @actor.name %></h2>
        <h4>BIOGRAPHY</h4>
        <% if @actor.biography == "" %>
          <p>Sorry, we don't have a biography for <%= @actor.name %>.</p>
        <% else %>
          <p><%= @actor.biography %></p>
        <% end %>
      </div>
     </div>
</div>
