// Import page-specific CSS files here.
@import "home";
@import "movie_show";
@import "actor_show";

// General layout
.small-container {
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 32px;
}
