// Import page-specific CSS files here.
@import "home";
@import "movie_show";
@import "actor_show";

// General layout
body {
 background-color: $black;
}

.small-container-white {
  margin: 0 auto;
  padding: 8px 16px 32px;
  background-color: $white;
}

