.movie-background {
  background-size: cover;
  height: 80vh;
  width: 100vw;
  padding: 16px;
}

.movie-details {
  display: flex;
  color: $white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  gap: 8px;
  height: 100%;
}

.poster {
  border-radius: 20px;
}

.movie-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    margin: 0 !important;
  }
}

.movie-sub-infos {
  display: flex;
  gap: 32px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.business {
  display: flex;
  gap: 32px;
  justify-content: space-around;

  p {
    padding: 8px 32px;
    background-color: $dark-gray;
    border-radius: 20px;
  }
}

.trailer {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: $white;
  background-color: $dark-gray;
  margin: 0 auto;
}

.iframe-trailer {
  width: 60vw;
  height: 33vw;
}

.add-to-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
}


@media(max-width: 768px) {
  .trailer {
    gap: 16px;
  }

  .iframe-trailer {
    width: 90vw;
    height: 50vw;
  }
}
