.movie-background {
  background-size: cover;
  height: 80vh;
  width: 100vw;
  padding: 16px;
}

.movie-details {
  display: flex;
  color: $white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  gap: 8px;
  height: 100%;
}

.poster {
  border-radius: 20px;
}

.movie-infos {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    margin: 0 !important;
  }
}

.movie-sub-infos {
  display: flex;
  gap: 32px;
  justify-content: space-around;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.business {
  display: flex;
  gap: 32px;
  justify-content: space-around;

  p {
    padding: 8px 32px;
    background-color: $dark-gray;
    border-radius: 20px;
  }
}

.trailer {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: $white;
  background-color: $dark-gray;
  margin: 0 auto;
}

.iframe-trailer {
  width: 60vw;
  height: 33vw;
}

.add-to-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
}

.sub-title {
  text-align: center;
}

#title-actor {
  border-top: 1px dashed $gray;
  padding-top: 16px !important;
}

@media(max-width: 992px) {
  h2 {
    font-size: 27px !important;
    margin-bottom: 0.5rem !important;
  }

  h5 {
    font-size: 16px !important;
    margin-bottom: 0.5rem !important;
  }

  p {
    font-size: 14px !important;
    margin-bottom: 0.5rem !important;
  }

  .movie-sub-infos {
    gap: 16px;
  }
}

@media(max-width: 768px) {
  .trailer {
    gap: 16px;
  }

  .iframe-trailer {
    width: 90vw;
    height: 50vw;
  }

  .movie-background {
    height: fit-content;
  }

  .movie-details {
   flex-direction: column;
   text-align: center;
   padding: 12px
  }

  .poster {
    height: 50vh;
    width: 34vh;
    text-align: center;
    margin: 0 auto;
  }

  .movie-infos {
    padding: 0;
  }

  .trailer {
    padding: 16px;
  }

  h2 {
    text-align: center;
  }
}
