.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-info {
  color: black;
  background-color: #79f279;
  border-color: #79f279;
}

.alert-warning {
  color: black;
  background-color: #ff5155;
  border-color: #ff5155;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 8px;
  margin: 8px 11%;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-gray {
  background-color: $gray;
  color: $white;
  padding: 8px;
  border: 2px solid white;
  border-radius: 20px;
  position: absolute;
  top: 80px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 210px;
}

.close-alert {
  cursor: pointer;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
}
