.btn-ghost {
  color: $white;
  border: 1px solid $white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: transparent;
  font-family: $headers-font;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-devise {
  border: 1px solid $white !important;
  padding: 8px 24px !important;
  border-radius: 50px !important;
  // background-color: transparent !important;
  font-family: $headers-font !important;
}


