.btn-ghost {
  color: $white;
  border: 1px solid $white;
  padding: 8px 16px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: transparent;
  font-family: $headers-font;

  &:hover {
    opacity: 1;
  }
}

.btn-ghost-search {
  color: $white;
  border: 1px solid $white;
  padding: 8px 16px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: transparent;
  font-family: $headers-font;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    color: $white;
    background-color: $gray;
    font-family: $headers-font;
  }
}


.btn-white {
  color: $black;
  border: 1px solid $white;
  padding: 8px 16px;
  border-radius: 50px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: $white;
  font-family: $headers-font;

  &:hover {
    opacity: 1;
    color: $black;
    background-color: $white;
  }
}

.btn-devise {
  border: 1px solid $white !important;
  padding: 8px 24px !important;
  border-radius: 50px !important;
  // background-color: transparent !important;
  font-family: $headers-font !important;
}

@media(max-width: 576px) {
  .btn-ghost-search {
    font-size: 14px;
  }

  .btn-white {
    font-size: 14px;
  }
}
