// Cards for movies

.cards-movies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 32px;
  margin: 0 auto;
  padding: 0;
}

.card-movie {
  width: 100%;

  img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
}

@media(max-width: 1200px) {
  .cards-movies {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 992px) {
  .cards-movies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 768px) {
  .cards-movies {
    grid-template-columns:repeat(2, 1fr);
  }
}

@media(max-width: 576px) {
  .cards-movies {
    grid-template-columns: 1fr;
  }
}

// Cards for lists

