.small-container-white {
  margin: 0 auto;
  padding: 8px 16px 32px;
  background-color: $white;
}

.small-container-black {
  margin: 0 auto;
  padding: 8px 16px 32px;
  background-color: rgba(0, 0, 0, 0.8);
  color: $white;
}

.small-container-dark-gray {
  margin: 0 auto;
  padding: 8px 16px 32px;
  background-color: $dark-gray;
  color: $white;
}

.small-container-white-100vh {
  margin: 0 auto;
  padding: 8px 16px 32px;
  background-color: $white;
  min-height: 100vh;
}

.small-container-dark-gray-100vh {
  margin: 0 auto;
  padding: 8px 16px 32px;
  background-color: $dark-gray;
  min-height: 100vh;
}
