.devise-background {
  padding: 16px;
}

.devise-form {
  color: $white;
  background-color: $dark-gray;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  opacity: 0.9;
  margin-top: 32px;
}

.sub-links {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.sub-links-password {
  margin-top: 36px;
  display: flex;
  justify-content: space-around;
}

.user-profile {
  margin-top: 16px;
  color: $white;
  padding: 0 16px 8px 16px;
  background-color: $dark-gray;
  border-radius: 20px;
  position: relative;
}

.two-inline-inputs {
  display: flex;
  gap: 16px;
  justify-content: space-between;

  .two-inline-input {
    width: 50%;
  }
}
