.destroy-icon-list {
  position: absolute;
  right: 4%;
  top: 4%;
  color: $red;

  &:hover {
    color: $dark-red;
  }
}

.destroy-icon-bookmark {
  position: absolute;
  right: 5%;
  top: 2%;
  color: $red;

  &:hover {
    color: $dark-red;
  }
}

.edit-icon-list {
  color: $white;
  cursor: pointer;
}

.edit-icon-user {
  color: $white;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
}
