.navbar-lewagon {
  justify-content: space-between;
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler {
  background-color: $light-gray;
}
